<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.yaopin.hjh.dao.SellMapper">
	<resultMap id="BaseResultMap"
		type="com.guigu.yaopin.hjh.entity.Sell">
		<id column="sellid" property="sellid" jdbcType="INTEGER" />
		<result column="cid" property="cid" jdbcType="INTEGER" />
		<result column="fid" property="fid" jdbcType="INTEGER" />
		<result column="pid" property="pid" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="getbase"
		type="com.guigu.yaopin.hjh.entity.Sell">
		<id column="sellid" property="sellid" jdbcType="INTEGER" />
		<result column="cid" property="cid" jdbcType="INTEGER" />
		<result column="fid" property="fid" jdbcType="INTEGER" />
		<result column="pid" property="pid" jdbcType="INTEGER" />
		<association property="f"
			javaType="com.guigu.yaopin.hjh.entity.Financial">
			<id column="financialid" property="financialid" />
			<result column="did" property="did" />
			<result column="eid" property="eid" />
			<result column="num" property="num" />
			<result column="financialdate" property="financialdate" />
			<result column="financialmoney" property="financialmoney" />

			<association property="d"
				javaType="com.guigu.yaopin.hjh.entity.Durg">

				<id column="durgid" property="durgid" />
				<result column="durgname" property="durgname" />
				<result column="durgprice" property="durgprice" />


			</association>
		</association>
		<association property="c"
			javaType="com.guigu.yaopin.hjh.entity.Consumer">

			<id column="consumerid" property="consumerid" />
			<result column="consumername" property="consumername" />
			<result column="consumerphone" property="consumerphone" />


		</association>
		<association property="p"
			javaType="com.guigu.yaopin.hjh.entity.Payment">

			<id column="pid" property="pid" />
			<result column="ptype" property="ptype" />



		</association>


	</resultMap>



	<select id="getsell" resultMap="getbase"
		parameterType="com.guigu.yaopin.hjh.entity.QueryVo">

		SELECT * from sell s INNER JOIN financial f on
		s.fid=f.financialid
		INNER JOIN consumer c on s.cid=c.consumerid INNER
		JOIN
		payment p on
		s.pid =p.pid INNER JOIN durg d on f.did= d.durgid
		<where>

			<if test="name!=null and name!=''">
				d.durgname like "%"#{name}"%"

			</if>

		</where>
		LIMIT #{page},#{rows}
	</select>
	<select id="getsellcount" resultType="int"
		parameterType="com.guigu.yaopin.hjh.entity.QueryVo">

		SELECT count(*) from sell s INNER JOIN financial f on
		s.fid=f.financialid INNER JOIN consumer c on s.cid=c.consumerid INNER
		JOIN
		payment p on s.pid =p.pid INNER JOIN durg d on f.did= d.durgid
		<where>

			<if test="name!=null and name!=''">
				d.durgname like "%"#{name}"%"

			</if>

		</where>

	</select>

	<select id="getsellid" parameterType="int" resultMap="getbase">
		SELECT * from sell s INNER JOIN financial f on s.fid=f.financialid
		INNER JOIN consumer c on s.cid=c.consumerid INNER JOIN
		payment p on s.pid =p.pid INNER JOIN durg d on f.did= d.durgid where
		s.sellid=#{sellid}
	</select>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		sellid, cid, fid, pid
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.guigu.yaopin.hjh.entity.SellExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from sell
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sell
		where sellid = #{sellid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from sell
		where sellid =
		#{sellid,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.guigu.yaopin.hjh.entity.SellExample">
		delete from sell
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert"
		parameterType="com.guigu.yaopin.hjh.entity.Sell">
		insert into sell (sellid, cid, fid,
		pid)
		values
		(#{sellid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER},
		#{fid,jdbcType=INTEGER},
		#{pid,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective"
		parameterType="com.guigu.yaopin.hjh.entity.Sell">
		insert into sell
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sellid != null">
				sellid,
			</if>
			<if test="cid != null">
				cid,
			</if>
			<if test="fid != null">
				fid,
			</if>
			<if test="pid != null">
				pid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sellid != null">
				#{sellid,jdbcType=INTEGER},
			</if>
			<if test="cid != null">
				#{cid,jdbcType=INTEGER},
			</if>
			<if test="fid != null">
				#{fid,jdbcType=INTEGER},
			</if>
			<if test="pid != null">
				#{pid,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.guigu.yaopin.hjh.entity.SellExample"
		resultType="java.lang.Integer">
		select count(*) from sell
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update sell
		<set>
			<if test="record.sellid != null">
				sellid = #{record.sellid,jdbcType=INTEGER},
			</if>
			<if test="record.cid != null">
				cid = #{record.cid,jdbcType=INTEGER},
			</if>
			<if test="record.fid != null">
				fid = #{record.fid,jdbcType=INTEGER},
			</if>
			<if test="record.pid != null">
				pid = #{record.pid,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update sell
		set sellid = #{record.sellid,jdbcType=INTEGER},
		cid =
		#{record.cid,jdbcType=INTEGER},
		fid = #{record.fid,jdbcType=INTEGER},
		pid = #{record.pid,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.guigu.yaopin.hjh.entity.Sell">
		update sell
		<set>
			<if test="cid != null">
				cid = #{cid,jdbcType=INTEGER},
			</if>
			<if test="fid != null">
				fid = #{fid,jdbcType=INTEGER},
			</if>
			<if test="pid != null">
				pid = #{pid,jdbcType=INTEGER},
			</if>
		</set>
		where sellid = #{sellid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.guigu.yaopin.hjh.entity.Sell">
		update sell
		set cid = #{cid,jdbcType=INTEGER},
		fid =
		#{fid,jdbcType=INTEGER},
		pid = #{pid,jdbcType=INTEGER}
		where sellid =
		#{sellid,jdbcType=INTEGER}
	</update>
</mapper>