<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.yaopin.xsr.dao.YaopinMapper" >
    <select id="chaquanxian" parameterType="com.guigu.yaopin.xsr.doamin.quanxian" resultType="com.guigu.yaopin.xsr.doamin.quanxian" >
        select * from quanxian where nid=#{nid} 
		<if test="shouquan!=null">
		and qid in
			<foreach collection="shouquan" open="(" close=")" item="v" separator="," >
				#{v}
			</foreach>
		</if>
    </select>

    <select id="login_xsr" parameterType="com.guigu.yaopin.xsr.doamin.users" resultType="com.guigu.yaopin.xsr.doamin.users">
        select a.*,b.juesename,b.quanxian from users a ,juese b where a.jid=b.jid and username=#{username}
    </select>

    <update id="xiumi" parameterType="com.guigu.yaopin.xsr.doamin.users">
        update users set passwordm=#{passwordm} where username=#{username}
    </update>

	    
	<insert id="addUsers" parameterType="com.guigu.yaopin.xsr.doamin.users" >
	    <selectKey resultType="int" keyProperty="userid" keyColumn="userid" order="AFTER" >
	      SELECT LAST_INSERT_ID()
	    </selectKey>
	   insert into users(username,passwordm,jid)values(#{username},#{passwordm},#{jid})
	  </insert>


    
    <insert id="logintime" parameterType="int">
    	insert into logintime(userid) values(#{userid})
    </insert>
    
    <select id="selectlotime" parameterType="int" resultType="String" >
    	select logindate from logintime where loginid=(select MAX(loginid) from logintime where userid=#{userid})-1
    </select>
    
    <select id="jindu_xsr" resultType="com.guigu.yaopin.xsr.doamin.xiaoshoujindu">
    	select a.stockid,a.stocknum,b.num,b.financialdate,b.financialmoney,c.durgname,d.typename,c.durgbid,c.durgprice from stock a,financial b,durg c,drugType d 
		where a.did=b.did and a.did=c.durgid and c.durgtype=d.typeid  ORDER BY num desc
    </select>
    
     <select id="jindu_xsr12" parameterType="int" resultType="com.guigu.yaopin.xsr.doamin.xiaoshoujindu">
     select a.stockid,a.stocknum,b.num,b.financialdate,b.financialmoney,c.durgname,d.typename,c.durgbid,c.durgprice from stock a,financial b,durg c,drugType d 
	 where a.did=b.did and a.did=c.durgid and c.durgtype=d.typeid and d.typeid=#{typeid}  ORDER BY num desc
    </select>
    
    <select id="leiclass" resultType="com.guigu.yaopin.xsr.doamin.drugType">
   		select * from drugType 
    </select>
    
    <select id="user_emp" parameterType="int" resultType="com.guigu.yaopin.xsr.doamin.emp" >
    	select * from emp where uid=#{uid}
    </select>
    
    <select id="chajuese" parameterType="int" resultType="String" >
    	select juesename from juese where jid=#{jid}
    </select>
    

</mapper>